.formStyle {
    margin: 2% 35% 0 35%;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
}

.btnStyle {
    width: 100%;
    padding: 0 20px;
}

.fbBtn {
    border: 1px solid lightgrey;
    padding: 1% 9%;
    border-radius: 30px;
    margin-left: 34%;
    margin-top: 2%;
    background-color: white;
}