.formStyle {
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 20px;
    border-radius: 10px;
    width: 300px;

}

.btnStyle {
    width: 100%;
    padding: 0 20px;
}

.fbBtn {
    border: none;
    margin: auto;
    border-radius: 30px;
    background-color: white;
    display: block;
    margin-top: 20px;
    padding: 5px 40px;
}